extends layout

block content
  h1= title
  p Welcome to #{title}
<<<<<<< HEAD
  div.registerFormWrapper
    button.openRegisterForm= "Sign Up!" 
    .registerForm(style="display:none;")
      input.username(placeholder='Username')
      input.firstname(placeholder='First name')
      input.lastname(placeholder='Last name')
      input.email(placeholder='Email')
      input.password(placeholder='Password')
      input.passwordCheck(placeholder='Password confirmation')
      button.register= "Register!"
    script(src="/javascripts/index.js")
=======
  div.row
    div.twelve.columns 
      p some stuff
  div.row
    div.four.columns
    p stuff
    div.four.columns
    p stuff
    div.four.columns
    p stuff
>>>>>>> james
