extends layout

block content
  h1= title
  p Welcome to LiveCode!
  .registerForm(style="display:none;")
    input.username(placeholder='Username')
    input.firstname(placeholder='First name')
    input.lastname(placeholder='Last name')
    input.email(placeholder='Email')
    input.password(type='password' placeholder='Password')
    input.passwordCheck(type='password' placeholder='Password confirmation')
    button.register= "Register!"

  div.loginFormWrapper
    .loginForm(style="display:none;")
      input.loginUsername(placeholder='Username')
      input.loginPassword(type='password' placeholder='Password')
      button.login= "Login!"

  div.container.row#editor= randomDoc.content
  
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="javascripts/index.js")
  script(src="/plugins/ace-builds-master/src/ace.js")

    