extends layout

block content
  .registerForm
    input.username(type="text" placeholder='Username')
    input.firstname(type="text" placeholder='First name')
    input.lastname(type="text" placeholder='Last name')
    input.email(type="text" placeholder='Email')
    input.password(type='password' placeholder='Password')
    input.passwordCheck(type='password' placeholder='Password confirmation')
    button.register= "Register!"
    a.closeRegisterForm(style="margin-left:20px")= "Cancel"

  div.hero

  script(src="javascripts/index.js")
    