extends layout

block content
  h1= title
  p Welcome to #{title}
  div.row
    div.twelve.columns 
      p some stuff
  div.row
    div.four.columns
    p stuff
    div.four.columns
    p stuff
    div.four.columns
    p stuff