doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/normalize.css')
  body
    block content
