doctype html
html
  head
    title= "LiveCode!"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/normalize.css')
    script(type='text/javascript' src="/javascripts/jquery-3.1.0.js")

  body
    div.header
    block content
