extends layout
block content
  
  div.row
    div.ten.columns
      p Live-Code
    div.one.column
      button username
    div.one.column
  div.row
    div.twelve.columns
      h2 current projects
  div.row
    div.twelve.columns
        ul
          li stuff
          li stuff
          li stuff