body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  display: block;
}

.registerFormWrapper {
}

#editor { 
  position: absolute;
  top: 5%;
  right: 20%;
  bottom: 0%;
  left: 0;
}

.documentButtons {
  list-style-type: none;
  float:right;
}

.container {
 margin-top: 50px;
}
 
#nav {
 margin: 13px 0 0 0;
}
 
#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
 margin-bottom: 130px;
}
 
#nav a {
 text-decoration: none;
}
 
#nav a:hover {
 text-decoration: underline;
}

.foundUsers {
  list-style-type: none;
  margin-left: 0;
}

.foundUsers > li {
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 147px;
  height: 38px;
}

.foundUsers > li:hover {
  background-color: #95d3e6;
}