body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  display: block;
}

.registerFormWrapper {
}

#editor { 
  position: absolute;
  top: 5%;
  right: 20%;
  bottom: 0%;
  left: 0;
}

th {
  color: #2F4F4F;
}

.highlight {
  background: #fafafa;
}

.save {
  padding: 0px;
}

.hidden {
  display: none;
}
.show {
  display: block;
}


