body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  display: block;
}

.registerFormWrapper {
}

#editor { 
  position: absolute;
  top: 54px;
  right: 20%;
  bottom: 0%;
  left: 0;
  z-index: 10;
}

.documentButtons {
  list-style-type: none;
  float:right;
}

.liveCodeMenu{
  margin-right: 46px;  
}
 
#nav {
  /*position: absolute;*/
  display: block;
  margin: 0 0 0 0;
}
 
#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
 margin-bottom: 130px;
}
 
#nav a {
 text-decoration: none;
}
 
#nav a:hover {
 text-decoration: underline;
}

.foundUsers {
  list-style-type: none;
  margin-left: 0;
}

.foundUsers > li {
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 147px;
  height: 38px;
}

.foundUsers > li:hover {
  background-color: #95d3e6;
}

th {
  color: #2F4F4F;
}

.highlight {
  background: #fafafa;
}

.save {
  padding: 0px;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

