body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  display: block;
}

.overlay {
  background-color: black;
  display: none;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: display 2s;
}

.navbar{
  border: solid 1px grey;
  padding: 10px 10px;
  top: 0;
  left: 0;
  width: 100%;
  margin: -10px -10px 0px -10px;
}

.navbar > ul {
  display: inline-block;
  height: 40px;
  list-style-type: none;
  margin: 0px;
}

.navbar > ul.navbar-right{
  float:right;
}

.navbar > ul > li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0px;
}

.navbar > ul > li > button {
  margin-bottom: 0px;
}

.registerForm {
  background-color: white;
  border-radius: 10px;
  border: 2px solid grey;
  top: -1000px;
  left: 40%;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  width: 250px;
  text-align: center;
  z-index: 3;
}

.registerForm > input {
  width: 100%;
}

.hero {
  background-color: #95d3e6;
  height: 700px;
  margin: 0 auto;
  margin-left: -10px;
  margin-right: -10px;
}

#editor { 
  position: absolute;
  top: 10%;
  right: 20%;
  bottom: 10%;
  left: 0;
}

.documentButtons {
  list-style-type: none;
  float:right;
}

.container {
 margin-top: 50px;
}

.foundUsers {
  list-style-type: none;
  margin-left: 0;
}

.foundUsers > li {
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 147px;
  height: 38px;
}

.foundUsers > li:hover {
  background-color: #95d3e6;
}

.documentList {
  width: 90%;
  margin: 0 auto;
}