$primary-color: black ;


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  display: block;
}

th {
  color: #2F4F4F;
}

ul {
  list-style-type:none;
}

// helpers

.commentBar {
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 0%;
  left: 175%;
  bottom: 0%;
  z-index: 3;
}

.commentForm {
  position: absolute;
  bottom: 2%;
}

.comments {
  overflow: scroll;
  position: absolute;
  top:0px;
  bottom: 30%;
}

.commentTemplate {
  display:none;
}

.comment > p{
  font-family: monospace;
  color: blue;
}

.commentForm > input,
.commentForm > textarea,
.commentForm > button {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.documentBar {
  border: 1px solid black;
  position:absolute;
  overflow: scroll;
  top:100%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  tr:hover {
    background-color: #95d3e6;
  }
}

.documentData {
  label {
    text-transform: uppercase;
    li {
      font-weight: normal;
      text-transform: none;
    }
  }
}

#editor { 
  border: 1px solid black;
  position: absolute;
  top: 60px;
  right:25%;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.errorMessage {
  background-color: #ff8e8e;
  display:none;
}

.findUsers > input {
  width: 100%;
  margin: 0 auto;
}

.fl{
  float:left;
}

.foundUsers {
  list-style-type: none;
  margin-left: 0;
  li {
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 38px;
    &:hover {
      background-color: #95d3e6;
    }
  }
}

.welcome {
  color: white;
  font-size: 20rem;
}

.overlay {
  background-color: black;
  display: none;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: display 2s;
}

.navbar{
  background-color: white;
  border: solid 1px grey;
  padding: 10px 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  ul {
    display: inline-block;
    height: 40px;
    list-style-type: none;
    margin: 0px;
  }
}

.navbar > ul.navbar-right{
  float:right;
}

.navbar > ul > li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0px;
}

.navbar > ul > li > button {
  margin-bottom: 0px;
}

.registerForm {
  background-color: white;
  border-radius: 10px;
  border: 2px solid grey;
  top: -1000px;
  left: 40%;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  width: 250px;
  text-align: center;
  z-index: 10;
}

.registerForm > input {
  width: 100%;
}

.hero {
  background-color: #95d3e6;
  height: 700px;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px; 
}

.sidebar {
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 0%;
  left: 75%;
  bottom: 0%;
}

.sidebar > ul {
  list-style-type: none;
}

.removeUser {
  margin-right: 20px;
  float: right;
}

.highlight {
  background: #fafafa;
}

.save {
  padding: 0px;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
